
body {
    font-family: Arial, sans-serif;
    text-align: left;
    color: #1f1f1f; /* Set a color for better contrast */
}

header {
    background-color: #dddddd; /* Add background color for header */
    padding: 2em;
    margin-bottom: 5em; 
}

img {
    border-radius: 50%;
    display: block; /* Make the img a block-level element */
    margin-left: auto;
    margin-right: auto;
}

main {
    text-align: center;
}

h3, h4, ul {
    text-align: left;
}

p {
    font-size: .9rem; /* Use rem so the font size is not fixed */
}

a {
    text-decoration: underline; /* Underline links */
    font-weight: bold; /* Bolden links */
    color: darkcyan; /* Color links */
}

footer {
    margin-top: 7em; /* Add space between main content and footer */
    background-color: #dddddd; /* Add background color to footer */
    padding: 10px;
}

/* Table styles */
table {
    font-size: .9rem;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: .2em solid black;
    text-align: left;
    padding: 1em;
}
  
.row {
    background-color: #dddddd;
}   